@import "~bootstrap";
@import "dark_mode";
@import "iType";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
$bg-light-pic:'../images/bg.jpg';
/////////////////////////
*{
  font-family: "Roboto Slab", sans-serif !important;;
}
body{
  background: url($bg-light-pic) no-repeat fixed ;
  background-size: cover;
}

header{
  padding-top: 5rem;
}

.blue_hover{
  transition: all 200ms linear;
  &:hover{
    background:  rgba(51,153,210,0.84);
  }
}